# Thư mục output khi build
dist
.output
.wxt

# Dependencies
node_modules

# Logs
logs
*.log

# Cache
.cache
.temp

# Cấu hình editor
.vscode
!.vscode/extensions.json
.idea

# File hệ thống
.DS_Store
Thumbs.db

# File đóng gói
*.zip
*.tar.gz

# File thống kê
stats.html
stats-*.json

# File khóa
pnpm-lock.yaml